alabaster==0.7.10
anaconda-client==1.6.14
anaconda-navigator==1.8.3
anaconda-project==0.8.2
AnyQt==0.0.8
appnope==0.1.0
appscript==1.0.1
asn1crypto==0.24.0
astroid==1.6.1
astropy==2.0.3
attrs==17.4.0
Babel==2.5.3
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.6.0
biopython==1.71
bitarray==0.8.1
bkcharts==0.2
blaze==0.11.3
bleach==2.1.2
blinker==1.4
bokeh==0.12.13
boto==2.48.0
boto3==1.7.8
botocore==1.10.8
Bottleneck==1.2.1
brotlipy==0.7.0
bz2file==0.98
CacheControl==0.12.4
certifi==2018.4.16
cffi==1.11.4
chardet==3.0.4
click==6.7
cloudpickle==0.5.2
clyent==1.2.2
colorama==0.3.9
colorcet==0.9.1
CommonMark==0.7.5
conda==4.4.10
conda-build==3.4.1
conda-verify==2.0.0
contextlib2==0.5.5
cryptography==2.1.4
cycler==0.10.0
Cython==0.27.3
cytoolz==0.9.0
dask==0.16.1
datashape==0.5.4
decorator==4.2.1
dhelp==0.0.5
dill==0.2.7.1
distributed==1.20.2
docutils==0.14
docx2txt==0.6
entrypoints==0.2.3
et-xmlfile==1.0.1
fastcache==1.0.2
filelock==2.0.13
Flask==0.12.2
Flask-Cors==3.0.3
future==0.16.0
Genesis-PyAPI==1.2.1
gensim==3.4.0
gevent==1.2.2
glob2==0.6
gmpy2==2.0.8
greenlet==0.4.12
h2==2.6.2
h5py==2.7.1
heapdict==1.0.0
hpack==3.0.0
html5lib==1.0.1
hyper==0.7.0
hyperframe==3.2.0
hypertemp==0.8.0
idna==2.6
imageio==2.2.0
imagesize==0.7.1
ipykernel==4.8.0
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.1.1
isort==4.2.15
itsdangerous==0.24
jdcal==1.3
jedi==0.11.1
Jinja2==2.10
jmespath==0.9.3
joblib==0.11
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.2
jupyter-console==5.2.0
jupyter-core==4.4.0
jupyterlab==0.31.5
jupyterlab-launcher==0.10.2
keyring==12.0.1
keyrings.alt==3.0
lazy-object-proxy==1.3.1
llvmlite==0.21.0
locket==0.2.0
lockfile==0.12.2
LTTL==2.0.6
lxml==4.1.1
MarkupSafe==1.0
matplotlib==2.1.2
mccabe==0.6.1
mistune==0.8.3
mock==2.0.0
mpmath==1.0.0
msgpack-python==0.5.1
multipledispatch==0.4.9
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.1
nltk==3.2.5
nose==1.3.7
notebook==5.4.0
numba==0.36.2
numexpr==2.6.4
numpy==1.14.0
numpydoc==0.7.0
oauthlib==2.0.7
observable==0.3.2
odfpy==1.3.6
odo==0.5.1
olefile==0.45.1
openpyxl==2.4.10
opusFC==1.1.1
Orange-Spectroscopy==0.3.6
Orange3==3.13.0
Orange3-Associate==1.1.5
Orange3-Bioinformatics==3.0.8
Orange3-Chemoinformatics==0.1.0
Orange3-Conformal==1.0.0
-e git+git@github.com:biolab/orange3-datafusion@69aa51c873d7b0a153da0a8027ffe19429606502#egg=Orange3_DataFusion
Orange3-Datasets==0.1.5
Orange3-Educational==0.1.7
Orange3-Geo==0.2.3
-e git+git@github.com:biolab/orange3-imageanalytics@fea0a4d18cd42b27bc72d259a4be28a11d313dc1#egg=Orange3_ImageAnalytics
Orange3-Network==1.3.2
Orange3-Recommendation==0.1.3
Orange3-Text==0.3.0
Orange3-Textable==3.0.7
Orange3-Textable-Prototypes==0.10
Orange3-Timeseries==0.3.3
packaging==16.8
pandas==0.22.0
pandas-datareader==0.6.0
pandocfilters==1.4.2
parso==0.1.1
partd==0.3.8
path.py==10.5
pathlib2==2.3.0
patsy==0.5.0
pbr==4.0.2
pdfminer3k==1.3.1
pep8==1.7.1
pexpect==4.3.1
pickleshare==0.7.4
Pillow==5.0.0
pkginfo==1.4.1
pluggy==0.6.0
ply==3.10
praw==5.4.0
prawcore==0.14.0
prompt-toolkit==1.0.15
psutil==5.4.3
ptyprocess==0.5.2
py==1.5.2
pycodestyle==2.3.1
pycosat==0.6.3
pycountry==18.2.23
pycparser==2.18
pycrypto==2.6.1
pycurl==7.43.0.1
pyflakes==1.6.0
Pygments==2.2.0
PyJWT==1.6.1
pylint==1.8.2
pyodbc==4.0.22
pyOpenSSL==17.5.0
pyparsing==2.2.0
pyqtgraph==0.10.0
PySocks==1.6.7
pytest==3.3.2
python-dateutil==2.6.1
python-igraph==0.7.1.post6
python-louvain==0.11
pytz==2017.3
PyWavelets==0.5.2
PyYAML==3.12
pyzmq==16.0.3
QtAwesome==0.4.4
qtconsole==4.3.1
QtPy==1.3.1
requests==2.18.4
requests-cache==0.4.13
requests-file==1.4.3
requests-ftp==0.3.1
requests-oauthlib==0.8.0
rfc3986==1.1.0
rope==0.10.7
ruamel-yaml==0.15.35
s3transfer==0.1.13
scikit-fusion==0.2.1
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==1.0.0
seaborn==0.8.1
Send2Trash==1.4.2
serverfiles==0.2.1
setuptools-git==1.2
Shapely==1.6.4.post1
simhash==1.7.1
simple-wbd==0.5.1
simplegeneric==0.8.1
simplejson==3.14.0
singledispatch==3.4.0.3
six==1.11.0
slumber==0.7.1
smart-open==1.5.7
snowballstemmer==1.2.1
sortedcollections==0.5.3
sortedcontainers==1.5.9
spectral==0.19
Sphinx==1.6.6
sphinxcontrib-websupport==1.0.1
spyder==3.2.6
SQLAlchemy==1.2.1
statsmodels==0.8.0
sympy==1.1.1
tables==3.4.2
tblib==1.3.2
terminado==0.8.1
testpath==0.3.1
toolz==0.9.0
tornado==4.5.3
traitlets==4.3.2
tweepy==3.5.0
typing==3.6.2
unicodecsv==0.14.1
update-checker==0.16
urllib3==1.22
validate-email==1.3
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.1.0
wikipedia==1.4.0
wrapt==1.10.11
xlrd==1.1.0
XlsxWriter==1.0.2
xlwings==0.11.5
xlwt==1.2.0
zict==0.1.3
