beautifulsoup4==4.6.0
certifi==2018.1.18
chardet==3.0.4
cltk==0.1.84
cycler==0.10.0
decorator==4.3.0
dhelp==0.0.5
gitdb2==2.0.3
GitPython==2.1.10
idna==2.6
kiwisolver==1.0.1
matplotlib==2.2.2
networkx==2.1
nltk==3.2.5
numpy==1.14.3
pyparsing==2.2.0
python-crfsuite==0.9.5
python-dateutil==2.7.3
python-louvain==0.11
pytz==2018.4
pyuca==1.2
PyYAML==3.12
regex==2018.2.21
requests==2.18.4
six==1.11.0
smmap2==2.0.3
SQLAlchemy==1.2.8
urllib3==1.22
Whoosh==2.7.4
